# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

serviceAccountKey.json
**/service-account.json
**/**/service-account.json
**/*account.json
functions/service-account.json